@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
/* ========== main css =========== */
.home{
    
    background: #2f363e;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-panel {

    background: #808080;
    width: 70%;
    height: 70%;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    box-shadow: 0 0px 9px 1px #ff2972;
}

.top-row {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-row {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.four-panels {
    /* border: red solid 5px; */
    width: 45%;
    height: 80%;

    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-size: 30px;
    color: black;

    
    transition: 0.3s;
}

.four-panels:hover {

    box-shadow: 0 0px 9px 1px grey;
    background: #666666;
}

/* ========== time panel =========== */
.time-panel {
    display: flex;
    justify-content: center;
    align-items: center;

   flex-direction: column;
}
/* ========== battery panel =========== */

.battery-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ========== internet panel =========== */
.internet-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.internet-panel:hover {
    cursor: pointer;
}