<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- custom css link -->
        <link rel="stylesheet" href="/static/idle.css">
        
        <!-- title -->
        <title>IDLE</title>
    </head>

    <body>
        <div class="home">
            <div class="info-panel">
                <div class="top-row">
                    <a class="time-panel four-panels" href="/clock">
                        <div id="date"></div>
                        <div id="time"></div>
                    </a>

                    <div class="battery-panel four-panels">
                        <div class="battery-level"></div>
                    </div>
                </div>

                <div class="bottom-row">
                    <div class="weather-panel four-panels">GETTING YOUR WEATHER...<br/>please wait</div>
                    <div class="internet-panel four-panels">INTERNET</div> 
                </div>

            </div>
        </div>


        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- JS link -->
        <script src="/static/main.js"></script>
    </body>
</html>